
       body{

  	       font-family: 'Open Sans', sans-serif;
        }



        table, th, td {

		    border: 1px solid black;
		    border-collapse: collapse;
		
		}
		
		th, td {

		    padding: 15px;
		    text-align: left;
		}


		img {

            width: 11%;
            border: 5px;
            border-radius: 77%;
            float: right;
            margin:15px 200px 15px 15px;
            height:200px;
            width: 200px;
        }
		